body{
    background-color:rgb(6, 6, 28);
    background-image: url(../assets/imagenes/fondo.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
}

@media screen, (height <= 850px) { 
    .container{
        margin-top: 3vh;
    }
    .form-login{
        /* padding: 40px 65px 30px; */
        padding: 40px 60px 20px;
    }
}

@media (height > 850px) { 
    .container{
        margin-top: 9vh;
    }
    .form-login{
        padding: 90px 60px 60px;
    }
    .btnColumna{
        margin-top: 50px;
    }
}

#imagen{
    max-width: 150px;
}

.form-image{
    margin: 0px 40px;
    padding: 20px 15px 5px;
    background: rgb(0, 0, 0, .8);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.form-login{
    margin: 0px 40px;
    background: rgb(0, 0, 0, .3);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    box-shadow: 0 0 30px rgba(0, 0, 0, .568);
    outline: none;
    box-shadow: none; 
}

.form-login:hover{
    background: rgb(0, 0, 0, .8);
    transition: 0.5s ease-in;
}

.form-login:not(:hover) {
    transition: 0.5s ease-in;
}

.form-control, .input-group-text{
    color: white;
    background: rgba(0, 0, 0, 0);
    border-radius: 0px;
    border-style: none;
    border-bottom: solid 1px;
}

.form-control:focus{
    background: none;
    color: white;
    box-shadow: none;
    outline: none; 
}

.form-control:hover{
    background: rgb(0, 0, 0);
}

.form-control::placeholder{
    color: white;
}

.ingresar{
    transition: 0.5s ease-in;
}

.mensaje-error{
    font-size: 100%;
}

input:-webkit-autofill{ 
    -webkit-box-shadow: 0 50px 0 20px rgb(0, 0, 0) inset !important; 
    -webkit-text-fill-color: white !important;
}